In [1]:
import pandas as pd
from sqlalchemy import create_engine
# from secret import username, password

In [ ]:
### Create database Vehicles

In [13]:
Vehicles_file="Resources/Motor_Vehicle_Collisions_-_Vehicles.csv"
NW_motor_col=pd.read_csv(Vehicles_file)
NW_motor_col

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,NJ,Sedan,HYUN -CAR/SUV,NaN,2015.0,...,Parked,Left Front Bumper,Left Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3393130,19641648,4036313,11/30/2018,18:37,372503ae-b9a9-4e05-8f84-3756caa99599,NY,Station Wagon/Sport Utility Vehicle,CHEV -CAR/SUV,NaN,2015.0,...,Parked,Center Front End,Center Front End,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
3393131,19547565,4308748,04/11/2020,15:40,c97c5ff7-c805-4792-9a0b-9786eaf85194,NJ,Station Wagon/Sport Utility Vehicle,DODG -CAR/SUV,NaN,2019.0,...,Going Straight Ahead,Left Front Bumper,Left Front Bumper,Center Front End,Center Front End,Left Front Bumper,N,NaN,Driver Inattention/Distraction,Failure to Yield Right-of-Way
3393132,19554458,4281090,01/30/2020,12:55,917e2717-7bdb-4295-856a-2e6e3e73076c,VA,Station Wagon/Sport Utility Vehicle,NISS -CAR/SUV,NaN,2004.0,...,Starting from Parking,Left Front Bumper,Left Front Bumper,Left Front Quarter Panel,Left Side Doors,No Damage,N,NaN,Driver Inattention/Distraction,Failure to Yield Right-of-Way
3393133,19606567,4308976,04/15/2020,15:54,507ce534-f58c-4816-8ca9-3cba231225e7,CT,NaN,DODG -CAR/SUV,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN
3393134,19573656,4296575,03/02/2020,16:00,bbdccdb2-99e5-4257-9fe6-89e2fd7e5056,NY,Taxi,FORD -CAR/SUV,NaN,2016.0,...,Parked,Center Front End,Left Front Bumper,NaN,NaN,NaN,N,NaN,Unspecified,Unspecified

In [37]:

# Create a filtered dataframe from specific columns
chosen_cols=["COLLISION_ID","CRASH_DATE",'CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2']
collision_col_1=NW_motor_col[chosen_cols].copy()
# Rename the column headers
collision_col_1 = collision_col_1.rename(columns={ "COLLISION_ID":"id",
                                                          "CRASH_DATE": "Crash_date",
                                                          "CONTRIBUTING_FACTOR_1": "Veh_Factor_One",
                                                          "CONTRIBUTING_FACTOR_2": " Veh_Factor_Two"                   
                                                          })
collision_col_1

,id,Crash_date,Veh_Factor_One,Veh_Factor_Two
0,100201,09/07/2012,Unspecified,NaN
1,4229438,10/18/2019,Unspecified,Unspecified
2,3307608,10/02/2015,Driver Inattention/Distraction,NaN
3,3308693,10/04/2015,Unspecified,NaN
4,297666,04/25/2013,Other Vehicular,NaN
...,...,...,...,...
3393130,4036313,11/30/2018,Unspecified,Unspecified
3393131,4308748,04/11/2020,Driver Inattention/Distraction,Failure to Yield Right-of-Way
3393132,4281090,01/30/2020,Driver Inattention/Distraction,Failure to Yield Right-of-Way
3393133,4308976,04/15/2020,NaN,NaN
3393134,4296575,03/02/2020,Unspecified,Unspecified

In [6]:
# Create a filtered dataframe from specific columns
chosen_col=['VEHICLE_ID','VEHICLE_MAKE','VEHICLE_YEAR','STATE_REGISTRATION','VEHICLE_TYPE']
NW_motor_col=NW_motor_col[chosen_col].copy()
# Rename the column headers
NW_motor_col = NW_motor_col.rename(columns={"VEHICLE_ID": "id",
                                                          "VEHICLE_MAKE":"Make",
                                                          "VEHICLE_YEAR": "Vehicle_year",
                                                          "STATE_REGISTRATION": "State_registration",  
                                                          "VEHICLE_TYPE": "Type"
                                                        
                                                          })
# "DRIVER_SEX": "Gender",
# "CRASH_DATE": "Crash_date",
# # Clean the data by dropping duplicates and setting the index
# NW_motor_col.drop_duplicates("id", inplace=True)
# NW_motor_col.set_index("id", inplace=True)
NW_motor_col.head()

,id,Make,Vehicle_year,State_registration,Type
0,1,NaN,NaN,NY,PASSENGER VEHICLE
1,52ae0029-b174-40c9-9ef5-abdd5fdb2704,HYUN -CAR/SUV,2015.0,NJ,Sedan
2,2,NaN,NaN,NY,TAXI
3,1,NaN,NaN,NY,PASSENGER VEHICLE
4,1,NaN,NaN,NY,PASSENGER VEHICLE

In [7]:
# NW_motor_col.to_csv("Vehicle.csv")

In [ ]:
### Create database Person

In [18]:
Person_file="Resources/Motor_Vehicle_Collisions_-_Person.csv"
NW_person_col=pd.read_csv(Person_file)
NW_person_col

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,19142923.0,0.0,Not Ejected,...,Does Not Apply,"Any person in the rear of a station wagon, pic...",Unknown,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,19143291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,19141868.0,11.0,Not Ejected,...,Entire Body,"Middle rear seat, or passenger lying across a ...",Unknown,NaN,NaN,Whiplash,Passenger,NaN,NaN,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,NaN,30.0,NaN,...,Knee-Lower Leg Foot,Driver,None,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing Against Signal,Fracture - Distorted - Dislocation,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Texting,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992489,10992732,4270186,01/07/2020,19:00,a639b526-9284-40d6-a63d-b64ab0ff1a2e,Occupant,Unspecified,19524264.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
3992490,11244618,4257064,12/12/2019,20:25,b51a517e-efe8-4f7c-8a1c-eec0a3c15d11,Occupant,Unspecified,19655195.0,45.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3992491,11009230,4276497,01/20/2020,13:30,258236bd-12ae-42ed-ae0f-501097f52843,Occupant,Unspecified,19532576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
3992492,11105950,4302692,03/19/2020,17:18,28499409-b6a8-479b-b0cf-ec4e543077b4,Occupant,Unspecified,19582526.0,26.0,Not Ejected,...,Does Not Apply,Driver,Lap Belt & Harness,NaN,NaN,Does Not Apply,Driver,NaN,NaN,M
3992493,10986700,3593258,01/05/2017,8:55,6afde800-c657-4262-9cdb-3770e607a2e3,Occupant,Unspecified,19521184.0,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M

In [38]:
# Create a filtered dataframe from specific columns
chosen_cols=[ "COLLISION_ID","CRASH_DATE",'CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2']
collision_col_2=NW_person_col[chosen_cols].copy()
# Rename the column headers
collision_col_2 = collision_col_2.rename(columns={        "COLLISION_ID":"id",
                                                          "CRASH_DATE": "Crash_date",
                                                          "CONTRIBUTING_FACTOR_1": " Ped_Factor_One",
                                                          "CONTRIBUTING_FACTOR_2": " Ped_Factor_Two"
                                                          })
collision_col_2

,id,Crash_date,Ped_Factor_One,Ped_Factor_Two
0,4230640,10/25/2019,NaN,NaN
1,4230733,10/10/2019,NaN,NaN
2,4230235,10/26/2019,NaN,NaN
3,4231115,10/26/2019,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Texting
4,3565527,11/21/2016,NaN,NaN
...,...,...,...,...
3992489,4270186,01/07/2020,NaN,NaN
3992490,4257064,12/12/2019,NaN,NaN
3992491,4276497,01/20/2020,NaN,NaN
3992492,4302692,03/19/2020,NaN,NaN
3992493,3593258,01/05/2017,NaN,NaN

In [9]:
# Create a filtered dataframe from specific columns
chosen_cols=['PERSON_ID','PERSON_SEX','PERSON_AGE','PERSON_INJURY','PED_ROLE']
NW_person_col=NW_person_col[chosen_cols].copy()
# Rename the column headers
NW_person_col = NW_person_col.rename(columns={"PERSON_ID": "id",
                                                          "PERSON_SEX": "Gender",
                                                          "PERSON_AGE": "Age",
                                                          "PERSON_INJURY": "Person_injured",
                                                          "PED_ROLE": "Pedestrian_role"                       
                                                          })
# Clean the data by dropping duplicates and setting the index
# NW_person_col.drop_duplicates("id", inplace=True)
# NW_person_col.drop_duplicates("Vehicle_id", inplace=True)
# NW_person_col.set_index("id", inplace=True)

NW_person_col.head()

,id,Gender,Age,Person_injured,Pedestrian_role
0,0278267c-0b21-470f-8a54-da71b7361448,F,0.0,Unspecified,Passenger
1,81161123-516c-438d-8f29-a107d2783d85,NaN,NaN,Unspecified,Registrant
2,b5da9aa6-3230-4203-bbde-3b6f9248ac31,F,11.0,Injured,Passenger
3,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,M,30.0,Injured,Pedestrian
4,2782525,NaN,NaN,Unspecified,Notified Person

In [10]:

# NW_person_col.to_csv("person.csv")

In [ ]:
# collision Table

In [41]:
# Concat collision_col_1 & collision_col_2
Collision_df=pd.concat([collision_col_1, collision_col_2])
# Clean the data by dropping duplicates and setting the index
Collision_df.drop_duplicates("id", inplace=True)
Collision_df.set_index("id", inplace=True)
Collision_df

,Crash_date,Veh_Factor_One,Veh_Factor_Two,Ped_Factor_One,Ped_Factor_Two
id,,,,,
100201,09/07/2012,Unspecified,NaN,NaN,NaN
4229438,10/18/2019,Unspecified,Unspecified,NaN,NaN
3307608,10/02/2015,Driver Inattention/Distraction,NaN,NaN,NaN
3308693,10/04/2015,Unspecified,NaN,NaN,NaN
297666,04/25/2013,Other Vehicular,NaN,NaN,NaN
...,...,...,...,...,...
3411298,03/17/2016,NaN,NaN,NaN,NaN
3561073,11/12/2016,NaN,NaN,NaN,NaN
3523369,09/19/2016,NaN,NaN,NaN,NaN
3412129,04/24/2016,NaN,NaN,NaN,NaN
3479811,07/12/2016,NaN,NaN,NaN,NaN

In [42]:
# Collision_df.to_csv("collision.csv")

,Crash_date,Veh_Factor_One,Veh_Factor_Two,Ped_Factor_One,Ped_Factor_Two
id,,,,,
100201,09/07/2012,Unspecified,NaN,NaN,NaN
4229438,10/18/2019,Unspecified,Unspecified,NaN,NaN
3307608,10/02/2015,Driver Inattention/Distraction,NaN,NaN,NaN
3308693,10/04/2015,Unspecified,NaN,NaN,NaN
297666,04/25/2013,Other Vehicular,NaN,NaN,NaN
...,...,...,...,...,...
3411298,03/17/2016,NaN,NaN,NaN,NaN
3561073,11/12/2016,NaN,NaN,NaN,NaN
3523369,09/19/2016,NaN,NaN,NaN,NaN
3412129,04/24/2016,NaN,NaN,NaN,NaN
3479811,07/12/2016,NaN,NaN,NaN,NaN

In [30]:
# per_collision=Collision_df[['id','Person_id','Complaint']]
# per_collision=per_collision.rename(columns={'id':'Collison_id'})
# per_collision

         Collison_id                             Person_id       Complaint
0             100201                                   NaN             NaN
1            4229438                                   NaN             NaN
2            3307608                                   NaN             NaN
3            3308693                                   NaN             NaN
4             297666                                   NaN             NaN
...              ...                                   ...             ...
3992489      4270186  a639b526-9284-40d6-a63d-b64ab0ff1a2e             NaN
3992490      4257064  b51a517e-efe8-4f7c-8a1c-eec0a3c15d11             NaN
3992491      4276497  258236bd-12ae-42ed-ae0f-501097f52843             NaN
3992492      4302692  28499409-b6a8-479b-b0cf-ec4e543077b4  Does Not Apply
3992493      3593258  6afde800-c657-4262-9cdb-3770e607a2e3             NaN

[7385629 rows x 3 columns]

In [31]:
# per_collision.to_csv("per_collision.csv")

In [28]:
# per_vehicle=Collision_df[['Person_id','Vehicle_id','Driver_sex','Driver_license_status']]
# per_vehicle

,Person_id,Vehicle_id,Driver_sex,Driver_license_status
0,NaN,1,NaN,NaN
1,NaN,52ae0029-b174-40c9-9ef5-abdd5fdb2704,NaN,NaN
2,NaN,2,NaN,NaN
3,NaN,1,NaN,NaN
4,NaN,1,NaN,NaN
...,...,...,...,...
3992489,a639b526-9284-40d6-a63d-b64ab0ff1a2e,1.95243e+07,NaN,NaN
3992490,b51a517e-efe8-4f7c-8a1c-eec0a3c15d11,1.96552e+07,NaN,NaN
3992491,258236bd-12ae-42ed-ae0f-501097f52843,1.95326e+07,NaN,NaN
3992492,28499409-b6a8-479b-b0cf-ec4e543077b4,1.95825e+07,NaN,NaN
3992493,6afde800-c657-4262-9cdb-3770e607a2e3,1.95212e+07,NaN,NaN

In [24]:
# Veh_collision=Collision_df[['id','Vehicle_id','Damage']]
# Veh_collision=Veh_collision.rename(columns={'id':'Collison_id'})
# Veh_collision

         Collison_id                            Vehicle_id             Damage
0             100201                                     1                NaN
1            4229438  52ae0029-b174-40c9-9ef5-abdd5fdb2704  Left Front Bumper
2            3307608                                     2                NaN
3            3308693                                     1                NaN
4             297666                                     1                NaN
...              ...                                   ...                ...
3992489      4270186                           1.95243e+07                NaN
3992490      4257064                           1.96552e+07                NaN
3992491      4276497                           1.95326e+07                NaN
3992492      4302692                           1.95825e+07                NaN
3992493      3593258                           1.95212e+07                NaN

[7385629 rows x 3 columns]

In [29]:
# per_vehicle.to_csv("per_vehicle.csv")

In [25]:
# Veh_collision.to_csv("Veh_collision.csv")

In [ ]:
# Collision_df.to_csv("Collision.csv")

In [ ]:
# Veh_collision_df

In [ ]:
# # Create a filtered dataframe from specific columns
# chosen_cols=["COLLISION_ID","VEHICLE_ID"]
# Veh_collision=NW_motor_col[chosen_cols].copy()
# # Rename the column headers
# Veh_collision = Veh_collision.rename(columns={ "COLLISION_ID":"id",
#                                                           "VEHICLE_ID": "Vehicle_id",
#                                                            "VEHICLE_DAMAGE": "Damage"
#                                                            })
# Veh_collision